html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f7f7f7;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgb(9, 9, 150);
}

.example-track {
  height: 4px;
  background-color: #ddd;
  border-radius: 4px;
}

.banner__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
}


.dropdownContainer {
  display: flex;
  align-items: center;
  margin: 10px;
}

.dropdown {
  width: 250px;
  margin-right: 10px;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#slider-label {
  margin-bottom: 5px;
}

.slider {
  width: 200px;
  height: 20px;
  margin-top: 5px;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p5Canvas {
  border: 1px solid #333;
}

.Buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.RunButton {
  background-color: rgba(38, 105, 136, 0.713);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.example-thumb {
  background-color: #f1f1f1;
  border: 2px solid #540b64;
}
.PlayButton {
  background-color: rgba(38, 105, 136, 0.713);
  height: 50px;
  margin: 10px;
}

.RunButton:hover {
  opacity: 0.8;
}

/* Ensure the container is positioned relatively */
.select-alert {
  position: relative;
  display: inline-block; /* shrinkwrap around the select */
}

.select-alert::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 3px solid red; /* thicker red border */
  border-radius: 4px;
  pointer-events: none;
  animation: circleBorder 1s ease-in-out 0s 2;
}

@keyframes circleBorder {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
